In [1]:
from datetime import date

In [2]:
date

datetime.date

In [3]:
today = date(2015,2,20)

In [4]:
today

datetime.date(2015, 2, 20)

In [5]:
freedom=date(2015,5,12)

In [6]:
str(freedom-today)

'81 days, 0:00:00'

In [7]:
today.year

2015

In [8]:
today.month

2

In [9]:
#change date to string
today.strftime('%A %B %d')

'Friday February 20'

In [10]:
today.strftime('%B')

'February'

In [16]:
string='hEllo'

In [17]:
string.upper()

'HELLO'

In [18]:
string.lower()

'hello'

In [19]:
string.swapcase()

'HeLLO'

In [21]:
 print('fdsf\adfs')

fdsfdfs

In [22]:
a='A'

In [23]:
ord(a)

65

In [24]:
hex(ord(a))  #row 4, column1 in ASCII table

'0x41'

In [26]:
print('\a\a\a')



In [27]:
from unicodedata import name,lookup

In [28]:
name('A')

'LATIN CAPITAL LETTER A'

In [29]:
name('a')

'LATIN SMALL LETTER A'

In [30]:
lookup('WHITE SMILING FACE')

'☺'

In [31]:
lookup('SNOWMAN')

'☃'

In [32]:
lookup('SOCCER BALL')

'⚽'

In [35]:
lookup('BABY').encode()

b'\xf0\x9f\x91\xb6'

In [36]:
'A'.encode()

b'A'

In [37]:
suits = ['coin','string','myriad']

In [38]:
original_suits=suits

In [39]:
suits.pop()

'myriad'

In [40]:
suits.remove('string')

In [41]:
suits

['coin']

In [42]:
suits.append('cup')

In [43]:
suits.extend(['sword','club'])

In [44]:
suits

['coin', 'cup', 'sword', 'club']

In [46]:
suits[2]='spade'

In [47]:
suits[0:2]=['heart','diamond']

In [48]:
suits

['heart', 'diamond', 'spade', 'club']

In [49]:
original_suits

['heart', 'diamond', 'spade', 'club']

In [50]:
lookup('GIRL')

'👧'

In [51]:
lookup('OLDER WOMAN')

'👵'

In [52]:
numerals = {'I':1,'V':5,'X':10}

In [54]:
numerals

{'I': 1, 'V': 5, 'X': 10}

In [55]:
numerals['X']

10

In [56]:
numerals['X']=1

In [57]:
numerals

{'I': 1, 'V': 5, 'X': 1}

In [58]:
numerals.pop('X')

1

In [59]:
numerals

{'I': 1, 'V': 5}

In [60]:
numerals.get('X')

In [61]:
(3,4,5,6)

(3, 4, 5, 6)

In [62]:
3,4,5,6

(3, 4, 5, 6)

In [63]:
 tuple()

()

In [64]:
()

()

In [65]:
tuple([3,4,5])

(3, 4, 5)

In [66]:
 (2)

2

In [67]:
(2,)

(2,)

In [68]:
2,

(2,)

In [69]:
(3,4)+(5,6)

(3, 4, 5, 6)

In [70]:
5 in (3,4,5)

True

In [71]:
{(1,2):3}

{(1, 2): 3}

In [73]:
a=[10]
b=[10]

In [74]:
a == b

True

In [75]:
a is b

False

In [76]:
a.extend([2,3])

In [77]:
a

[10, 2, 3]

In [78]:
b

[10]

In [79]:
c=b

In [80]:
c.pop()

10

In [81]:
c

[]

In [82]:
b

[]

In [83]:
min({'a':6,'b':4}) #返回ASCII码最小的key

'a'

In [84]:
dic = {'a':6,'b':4}

In [90]:
[x for x in dic.values()]

[6, 4]

In [94]:
min([dic[x] for x in dic.keys()],)

4

In [95]:
[dic.values()]

[dict_values([6, 4])]

In [103]:
def key_of_min_value(d):
    """Returns the key in a dict d that corresponds to the minimum value of d.

    >>> letters = {'a': 6, 'b': 5, 'c': 4, 'd': 5}
    >>> min(letters)
    'a'
    >>> key_of_min_value(letters)
    'c'
    """
    # BEGIN Question 0
    return min([x for x in d.keys()],key=lambda x:d[x])
    # END Question 0

In [106]:
def map_and_filter(s, map_fn, filter_fn):
    """Returns a new list containing the results of calling map_fn on each
    element of sequence s for which filter_fn returns a true value.

    >>> square = lambda x: x * x
    >>> is_odd = lambda x: x % 2 == 1
    >>> map_and_filter([1, 2, 3, 4, 5], square, is_odd)
    [1, 9, 25]
    """
    # BEGIN Question 0
    return [map_fn(x) for x in s if filter_fn(x)]
    # END Question 0

In [111]:
min('aorld','baere')

'aorld'

In [112]:
xs=[6,1,4]
ys=[2,6,2]

In [120]:
for a,b,c in zip(xs,ys,[1,2,3]):
    print(a,b,c)

6 2 1
1 6 2
4 2 3

In [132]:
def enumerate(s, start=0):
    """Returns a list of lists, where the i-th list contains i+start and
    the i-th element of s.

    >>> enumerate([6, 1, 'a'])
    [[0, 6], [1, 1], [2, 'a']]
    >>> enumerate('five', 5)
    [[5, 'f'], [6, 'i'], [7, 'v'], [8, 'e']]
    """
    # BEGIN Question 0
    return [list(x) for x in zip(range(start,len(s)+start),s)]

In [133]:
enumerate('five',5)

[[5, 'f'], [6, 'i'], [7, 'v'], [8, 'e']]

In [139]:
import numpy as np
np.mean([0])

0.0

In [136]:
9/4

2.25

In [142]:
[1,2]*5

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

In [143]:
np.sqrt(1.5**2+4)

2.5

In [146]:
min([1,2,2,-1],key=lambda x:x**2)

1

In [147]:
pairs = [ [1, 2], [3, 2], [2, 4], [1, 3], [3, 1], [1, 2] ]

In [148]:
for key,x in pairs:
    print(key,x)

1 2
3 2
2 4
1 3
3 1
1 2

In [153]:
sum([(x,y) for (x,y) in [[1,2],[2,3]]])

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [154]:
sum([1,2],[2,3])

TypeError: can only concatenate list (not "int") to list

In [155]:
f = lambda r:r.b

In [157]:
def mean(s):
    return sum(s)/len(s)

In [158]:
mean([1,2])

1.5

In [159]:
mean([-1,3])

1.0

In [160]:
l = [[-3,1],[1,2],[2,3]]

In [170]:
res = {'name':'a','loc':[1,2]}

In [171]:
f=lambda r:r.b

In [181]:
z=zip([1,2,3],[4,5,6])

In [182]:
[x*y for x,y in z]

[4, 10, 18]

In [185]:
def f():
    return 1,2

In [189]:
f()[1]

2

In [198]:
min([x for x in [[1,2],[3,1]]],key=lambda x:x[1])[0]

3

In [199]:
d={}

In [200]:
d['a']=1

In [201]:
d

{'a': 1}

In [210]:
letters = {'a': 1, 'b': 2, 'c': 3}

In [211]:
sorted(list(letters.items()))

[('a', 1), ('b', 2), ('c', 3)]

In [209]:
list(letters.items())

[('b', 2), ('a', 1), ('c', 3)]

In [212]:
[1,2,3][1:]

[2, 3]

In [215]:
def reduce(combiner, seq):
    """Combines elements in seq using combiner.

    >>> reduce(lambda x, y: x + y, [1, 2, 3, 4])
    10
    >>> reduce(lambda x, y: x * y, [1, 2, 3, 4])
    24
    >>> reduce(lambda x, y: x * y, [4])
    4
    """
    assert len(seq)>0
    if len(seq)==1:
        return seq[0]
    else:
        new=seq[0]
        for i in range(1,len(seq)):
            new=combiner(new,seq[i])
        return new

In [216]:
reduce(lambda x, y: x + y, [1, 2, 3, 4])

10

In [217]:
table={'a':1,'b':2}

In [220]:
table['c']=[]

In [221]:
table

{'a': 1, 'b': 2, 'c': []}

In [226]:
table['c']=table['c']+['ab']+['bd']

In [227]:
table

{'a': 1, 'b': 2, 'c': ['ab', 'ab', 'bd']}

In [228]:
'a'+'b'

'ab'

In [229]:
3 in (3,4)

True

In [231]:
3 in (3,4)

True